.DS_Store
.venv/
StealthyIMU_dataset/
/venv

# Training Outputs (Do not commit heavy weights and logs)
results/

# Python Cache
__pycache__/
*.pyc
/StealthyIMU_Colab_Export.zip

# JetBrains IDE settings
.idea/
